<div class="bg-cover w-screen h-screen min-w-fit min-h-fit z-10 bg-[url('/img/background_web.png')]">
  <div class="flex justify-center" id="website_name">
    <h1 class="text-white font-Italiana text-4xl p-3 tracking-[.25em]">
      MEMOIRIST
    </h1>
  </div>
  <div id="website_quotes">
    <div class="flex justify-center">
      <p class="text-white font-Italiana text-xl">
        "A memoirist knows life is a book,
      </p>
    </div>
    <div class="flex justify-center">
      <p class="text-white font-Italiana text-xl">
        but its true meaning lies in the pages they choose to share."
      </p>
    </div>
  </div>
  <div class="text-white p-1 flex justify-center">
    <div class="border-none rounded-2xl w-fit h-fit p-5 bg-black bg-opacity-90">
      <div class="flex justify-center font-bold text-lg m-1">
        <h5>Register New Account</h5>
      </div>
      <div class="">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
          <div>
            <label class="font-bold text-xs">Email as Account:</label>
            <input type="email" id="Account" formControlName="account"
              class="text-white block bg-stone-800 border-none rounded" size="35" />
          </div>
          <div>
            <div class="flex">
              <label class="font-bold text-xs">Full Name</label>
            </div>
            <div class="flex ">
              <input type="text " id="writerFullname" formControlName="writerFullname"
                class="text-white block bg-stone-800 border-none rounded" size="35" />
            </div>
          </div>
          <div>
            <label class="font-bold text-xs">Username:</label>
            <input type="text" id="writerUsername" placeholder="@user123" formControlName="writerUsername"
              class="text-white block bg-stone-800 border-none rounded " size="35" />
          </div>
          <div>
            <label class="font-bold text-xs">Password:</label>
            <input type="password" id="password" formControlName="password"
              class="text-white block bg-stone-800 border-none rounded " size="35" />
          </div>
          <div>
            <label class="font-bold text-xs " for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" [formControl]="confirmPassword"
              name="confirmPassword"
              class="text-white block bg-stone-800 border-none rounded" size="35" />
            <div *ngIf="passwordMismatch">
              <small>Mật khẩu không khớp</small>
            </div>
          </div>
          <div>
            <label class="font-bold text-xs">Phone Number:</label>
            <input type="text" id="writerPhone" formControlName="writerPhone"
              class="text-white block bg-stone-800 border-none rounded " size="35" />
          </div>
          <div>
            <label class="font-bold text-xs">Gender:</label>
            <input type="text" id="writerGender" formControlName="writerGender"
              class="text-white block bg-stone-800 border-none rounded" size="35" />
          </div>
          <div>
            <label class="font-bold text-xs">Birthday:</label>
            <input type="text" id="writerBirthday" formControlName="writerBirthday"
              class="text-white block bg-stone-800 border-none rounded" size="35" />
          </div>
          <div class="bg-white rounded-xl flex justify-center my-3">
            <button class="font-bold text-black border-none m-1" type="submit"
              [disabled]="!registerForm.valid || passwordMismatch">
              Create Your Pen.
            </button>
          </div>
          <div class="font-bold">
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>