<div class="text-white overflow-scroll no-scrollbar h-[47vh]" >
    <div class="flex justify-between min-w-full  border-b-2  py-5">
        <div class="ml-[5%] text-xl">
            <a href="" class="hover:text-stone-200 hover:font-bold">Già Thiên</a>
        </div>
        <div class="">
            <p>Ngày Đăng Tải:  13/10/2024</p>
        </div>
        <div>
            <button class="bg-neutral-800 hover:bg-neutral-900  rounded-3xl px-10">Follow Story</button>
        </div>
        <div class="text-white mr-10 ">
            <a href="" class="hover:underline ">Chapter 1909</a>
        </div>
        
    </div>
</div>
