<div class="flex justify-center w-full text-center text-white fixed top-0 opacity-95 bg-black bg-[url('/img/background_web.png')]">
    <a routerLink="/newfeeds" routerLinkActive="active"
        class="border-2 rounded-full px-2 ml-[20%] mt-1 hover:bg-neutral-800 absolute left-0">Back to
        Newfeeds </a>
    <h1 class=" font-bold text-lg text-white p-1">Story</h1>
</div>
<div class=" w-full bg-black   flex ">
    <div class="bg-none ml-[8%] mt-[5vh]   h-[95vh] overflow-scroll no-scrollbar rounded-t-3xl ">
        <div class="w-full h-[50%] border-b-2 mt-1 p-2 text-white">
            <div class="pl-5 ">
                <p class="text-4xl font-semibold p-10 pl-0 pb-5 ">Già Thiên</p>
                <p class="font-light text-xs">20/10/2024</p>
                <p class="flex ">Tác Giả: __l_vy</p>
            </div>
            <div class="px-5 overflow-scroll no-scrollbar h-[40%] mt-5">
                <p> Diệp Phàm là nhân vật chính của toàn bộ câu chuyện, một người ngoài trông thư sinh, nhưng bên trong
                    lại cực kỳ tráng kiện, hành động quyết đoán, nhưng lại là người ôn hòa, trọng tình cảm. Không có phi
                    thăng khi mở đầu, không có tử vong để trọng sinh, không có khuyết tật, yếu kém. Diệp Phàm cứ bình
                    thường trải qua những tao ngộ đầy hấp dẫn.
                    - Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra những chi tiết thần bí,
                    không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số mệnh đã sắp đặt cho nhân
                    vật vậy. Trên thế gian thật sự có thần tồn tại, hay những sự tích đầy thần bí từ xưa có thật hay
                    không. Cửu Long kéo quan tài, phá toái hư không, một hành trình đã định sẵn cho những người đi theo
                    dấu chân của Thần.
                </p>
            </div>
            <p class="pl-5 text-xs">Scroll to see more</p>
        </div>
        <div class="px-5 h-[50%] ">
            <!-- For loop chapter list -->
            <div class="overflow-scroll  h-[100%] overflow-x-clip w-full ">
                <!-- đặt cái for loop chỗ này -->

                @for (item of intArray; track item) {
                <div class="h-12 w-full  border-b text-white flex justify-between">
                    <a href="" class="self-center">
                        <p>
                            Chương {{item}}: Quan tài lớn bằng đồng thau ở trong Tinh Không
                        </p>
                    </a>
                    <p class="self-center place-item-end">22/10/2024</p>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="bg-none w-[200%] ml-2  mt-[5vh] h-[95vh]  rounded-t-3xl ">
        <div class="text-white border-b flex justify-center ">
            <p>Bình Luận</p>
        </div>
        <div class=" w-full h-[90vh]">
            <!-- Input comment -->
            <form action="">
                <div class="  flex justify-between border-b p-2 pb-5">
                    <div class="h-10 w-14 ">
                        <img src="img/levy.jpg" class="h-[100%] w-[100%] rounded-full">
                    </div>
                    <textarea class="ml-2 pt-2 mr-2 text-white placeholder:text-white bg-transparent focus:text-white w-full
                    focus:outline-none resize-none" rows="1" name="" id="" placeholder="Write your comment"></textarea>
                    <button type="submit" class="text-white bg-slate-800 px-5 rounded-full">Send</button>
                </div>
            </form>
            <!-- Comment -->
            <div class=" w-full h-[80vh]  overflow-scroll overflow-x-hidden ">
                <div class="bg-opacity-0 flex w-full border-b p-2">
                    <!-- Avatar -->
                    <div class=" max-w-40 ">
                        <img src="img/levy.jpg" class="h-10 w-[10rem] rounded-full">
                    </div>
                    <!-- Context Comment -->
                     <div class=" text-white ml-5">
                        <div class="flex">
                            <p>&#64;__l_vy</p>
                            <p class="ml-2 text-xs place-self-end text-gray-400">24/10/2024</p>
                        </div>
                        <p>Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra
                            những chi tiết thần bí, không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số
                            mệnh đã sắp đặt cho nhân vật vậy</p>
                     </div>
                </div>
                <div class="bg-opacity-0 flex w-full border-b p-2">
                    <!-- Avatar -->
                    <div class=" max-w-40 ">
                        <img src="img/levy.jpg" class="h-10 w-[10rem] rounded-full">
                    </div>
                    <!-- Context Comment -->
                     <div class=" text-white ml-5">
                        <div class="flex">
                            <p>&#64;__l_vy</p>
                            <p class="ml-2 text-xs place-self-end text-gray-400">24/10/2024</p>
                        </div>
                        <p>Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra
                            những chi tiết thần bí, không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số
                            mệnh đã sắp đặt cho nhân vật vậy</p>
                     </div>
                </div>
                <div class="bg-opacity-0 flex w-full border-b p-2">
                    <!-- Avatar -->
                    <div class=" max-w-40 ">
                        <img src="img/levy.jpg" class="h-10 w-[10rem] rounded-full">
                    </div>
                    <!-- Context Comment -->
                     <div class=" text-white ml-5">
                        <div class="flex">
                            <p>&#64;__l_vy</p>
                            <p class="ml-2 text-xs place-self-end text-gray-400">24/10/2024</p>
                        </div>
                        <p>Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra
                            những chi tiết thần bí, không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số
                            mệnh đã sắp đặt cho nhân vật vậy</p>
                     </div>
                </div><div class="bg-opacity-0 flex w-full border-b p-2">
                    <!-- Avatar -->
                    <div class=" max-w-40 ">
                        <img src="img/levy.jpg" class="h-10 w-[10rem] rounded-full">
                    </div>
                    <!-- Context Comment -->
                     <div class=" text-white ml-5">
                        <div class="flex">
                            <p>&#64;__l_vy</p>
                            <p class="ml-2 text-xs place-self-end text-gray-400">24/10/2024</p>
                        </div>
                        <p>Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra
                            những chi tiết thần bí, không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số
                            mệnh đã sắp đặt cho nhân vật vậy</p>
                     </div>
                </div><div class="bg-opacity-0 flex w-full border-b p-2">
                    <!-- Avatar -->
                    <div class=" max-w-40 ">
                        <img src="img/levy.jpg" class="h-10 w-[10rem] rounded-full">
                    </div>
                    <!-- Context Comment -->
                     <div class=" text-white ml-5">
                        <div class="flex">
                            <p>&#64;__l_vy</p>
                            <p class="ml-2 text-xs place-self-end text-gray-400">24/10/2024</p>
                        </div>
                        <p>Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra
                            những chi tiết thần bí, không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số
                            mệnh đã sắp đặt cho nhân vật vậy</p>
                     </div>
                </div><div class="bg-opacity-0 flex w-full border-b p-2">
                    <!-- Avatar -->
                    <div class=" max-w-40 ">
                        <img src="img/levy.jpg" class="h-10 w-[10rem] rounded-full">
                    </div>
                    <!-- Context Comment -->
                     <div class=" text-white ml-5">
                        <div class="flex">
                            <p>&#64;__l_vy</p>
                            <p class="ml-2 text-xs place-self-end text-gray-400">24/10/2024</p>
                        </div>
                        <p>Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra
                            những chi tiết thần bí, không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số
                            mệnh đã sắp đặt cho nhân vật vậy</p>
                     </div>
                </div><div class="bg-opacity-0 flex w-full border-b p-2">
                    <!-- Avatar -->
                    <div class=" max-w-40 ">
                        <img src="img/levy.jpg" class="h-10 w-[10rem] rounded-full">
                    </div>
                    <!-- Context Comment -->
                     <div class=" text-white ml-5">
                        <div class="flex">
                            <p>&#64;__l_vy</p>
                            <p class="ml-2 text-xs place-self-end text-gray-400">24/10/2024</p>
                        </div>
                        <p>Truyện không sáng tạo ra một thế giới khác, nhưng lại khéo léo gợi mở ra
                            những chi tiết thần bí, không chớp nhoáng đưa ngay người đọc vào một không gian xa lạ, mà như số
                            mệnh đã sắp đặt cho nhân vật vậy</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>