<div class="bg-cover w-screen h-screen z-10" style="background-image: url('img/background_web.png')" >
  <div class="flex justify-center  " id="website_name">
    <h1 class="text-white font-Italiana text-5xl p-5 tracking-[.25em]">
      MEMOIRIST
    </h1>
  </div>
  <div id="website_quotes" class="bg-black mx-[30%]">
    <div class="flex justify-center">
      <p class="text-white font-Italiana text-xl">
        "A memoirist knows life is a book,
      </p>
    </div>
    <div class="flex justify-center">
      <p class="text-white font-Italiana text-xl">
        but its true meaning lies in the pages they choose to share."
      </p>
    </div>
  </div>
  <div class="text-white p-3 flex justify-center">
    <div class="border-none rounded-2xl w-fit h-fit p-5 bg-black mx-[30%]">
      <div class="flex justify-center p-3 font-bold text-xl ">
        <h5>Welcome to Memoirist</h5>
      </div>
      <div class="">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <div>
            <label class="font-bold">Email:</label>
            <input
              type="text"
              id="Account"
              formControlName="account"
              class="text-white block bg-stone-800 border-none rounded p-1 my-2"
              size="35"
            />
          </div>
          <div>
            <label class="font-bold">Password:</label>
            <input
              type="password"
              id="Password"
              formControlName="password"
              class="text-white block bg-stone-800 border-none rounded p-1 my-2"
              size="35"
              required
            />
          </div>
          <div *ngIf="!loginResult">
            <small>Lỗi đăng nhập: {{errorMessage}}</small>
          </div>
          <div class="bg-white rounded-xl flex justify-center my-3">
            <button
              class="font-bold text-black border-none m-1"
              type="submit"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
          </div>
        </form>
      </div>
      <div class="flex justify-between m-1 font-bold">
        <a class="" routerLink="/sign-in"
         routerLinkActive="activebutton" 
        >Sign In</a>
        <a class="" routerLink="/verify-email" routerLinkActive="activebutton">
          Forgotten Password
        </a>
      </div>
     
    </div>
  </div>
</div>

