.heart-checkbox {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .heart-checkbox svg {
    transition: all 0.3s ease-in-out;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .heart-checkbox svg {
    fill: red;
    stroke: red;
    text-decoration: red;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scrollbar-color: black;
}
.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }