<div style="background-image: url('img/background_web.png')">
  <div class="flex justify-center w-full text-center text-white fixed top-0 bg-black">
    <a routerLink="/newfeeds" routerLinkActive="active"
      class="border-2 rounded-full px-2 ml-[20%] mt-1 hover:bg-neutral-800 absolute left-0">Back to
      Newfeeds </a>
    <h1 class=" font-bold text-lg text-white p-1">Post</h1>
  </div>

  <div class=" w-full ">
    <div class="">
      <div class="bg-black mx-[15%] ml-[20%] h-[95vh]  overflow-scroll mt-[5vh] no-scrollbar rounded-t-3xl ">
        <!-- post -->
        <div class="flex   ">
          <div class="bg-neutral-900 rounded-2xl m-2 grid grid-cols-12 min-w-[98%]">
            <div class="flex ml-2 col-span-1">
              <img src="img/avatar/{{postUser?.writerAvatar}}" class="m-2 mt-3 rounded-full w-12 h-12" />
            </div>
            <div class="col-span-11 text-white">
              <!-- Name and datetime -->
              <div class="flex m-2">
                <a href="">
                  <p class="mr-10 font-bold">{{postUser?.writerUsername}}</p>
                </a>
                @if(mainPost?.postDateTime){
                <p class="text-xs mt-1 text-gray-400 m-1">{{mainPost?.postDateTime}}</p>
                }
              </div>
              <div class="m-2 mb-0">
                <!-- Context -->
                <p class="mb-2">
                  {{mainPost?.postContext}}
                </p>
                <!-- Story if has -->

                <!-- Image -->
                @for (item of mainPost?.postPictureUrl; track item) {
                <div class="min-w-full">
                  <div class="flex-nowrap flex overflow-scroll overflow-y-hidden scrollbar">

                    <img class="m-1 h-56 rounded-2xl" src="img/post_img/{{item}}" />
                  </div>
                </div>
                }

                <!-- Menu Action -->
                <div class="flex justify-start mt-2">
                  <!-- Likes -->
                  <label class="flex">
                    <input type="checkbox" id="heart-checkbox" [checked]="checkedLikePost(user, mainPost)"
                      (change)="toggleLike(mainPost)" />


                    <div class="heart-checkbox">
                      <!-- Heart SVG -->
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white"
                        stroke-width="2" class="w-5 h-5">
                        <path
                          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                      </svg>
                    </div>
                    <p>{{ mainPost?.listWriterLikePost?.length || 0 }}</p>
                  </label>
                  <!-- Comment -->
                  <button type="button" class="w-5 h-5 mx-20 flex">
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                      </svg>
                    </div>
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end post -->
        <!-- Reply to post -->
        <div class="m-2 bg-neutral-900  text-white rounded-2xl grid grid-cols-12 ">
          <div class="flex items-start ml-2 m-2  col-span-1 ">
            <img src="img/avatar/{{user?.writerAvatar}}" class="rounded-full w-16 h-16" alt="">
          </div>
          <div class=" col-span-11">
            <form [formGroup]="frmAddComment" class="flex justify-around w-full mt-5">
              <textarea name="" id="" rows="1" formControlName="commentContext"
                class="resize-none p-2 min-w-[85%] flex bg-neutral-900 px-2 rounded-3xl  focus:outline-none no-scrollbar"
                placeholder="Reply to post"></textarea>
              <button (click)="addCommentButton()" type="submit"
                class=" px-6 mr-3 py-2 text-white rounded-full bg-neutral-800 hover:bg-neutral-900">Gửi</button>
            </form>
          </div>
        </div>
        <!-- Comment Scroll -->
        <!-- Comment Section -->
        @for (item of listComment; track item) {
        <div class="bg-neutral-900 mt-2 border grid grid-cols-12 rounded-2xl border-none m-2 p-2">
          <!-- Avatar -->
          <div class="flex ml-4 col-span-1">
            <img src="img/avatar/{{user?.writerAvatar}}" class=" rounded-full w-12 h-12" alt="">
          </div>
          <!-- Name and Datetime -->
          <div class="col-span-11 ml-2">
            <div class="text-white font-bold grid grid-cols-4">
             <div class="col-span-3 flex">
              <p class="mr-10 col-span-2">{{item?.commentWriterName}}</p>
              <p class="text-xs mt-1 text-gray-400 m-1 font-normal">{{item?.commentDate}}</p>
             </div>
              @if (postUser?.writerId === user?.writerId || item?.commentWriterId == user?.writerId ) {
              <div class="relative justify-self-end">
                <!-- Dropdown toggle -->
                <button (click)="toggleDropdown(item?.commentPostId!)"
                  class="text-gray-400 hover:text-gray-200 font-bold">⋮
                </button>
                <!-- Dropdown content -->
                <div *ngIf="isDropdownOpen[item?.commentPostId!]"
                  class="absolute right-0 bg-neutral-800 border border-gray-700 rounded-lg shadow-lg">
                 
                  <button (click)="onDeleteComment(item?.commentPostId!)"
                    class="block text-left text-sm px-4 py-2 text-red-400 hover:bg-gray-700 hover:text-red-600">
                    Xóa
                  </button>
                </div>
              </div>
              }
            </div>


            <div class="text-white">
              <!-- CONTEXT -->
              <p>{{item?.commentContext}}</p>
              <!-- ACTION -->

            </div>
          </div>
        </div>
        <!-- End Comment Section -->
        }


      </div>
    </div>
  </div>
</div>