<div id="style-3" >
    <div class="bg-neutral-950 mx-[15%] ml-[20%] rounded-t-3xl overflow-scroll no-scrollbar " 
    *ngIf="userProfile">
      <div class="flex justify-center min-w-full text-center text-white mt-3 relative">
        <!-- username -->
        <h1 class=" font-bold text-lg text-white p-2"> {{userProfile.writerUsername}}</h1>
      </div>
      <div class="grid grid-cols-12 text-white">
        <div class="col-span-10 m-5 mr-0 mb-0 p-5 rounded-3xl">
          <!-- fullname -->
          <p class="text-3xl">{{userProfile.writerFullname}}</p>
          <!-- username -->
          <p class="">&#64;{{userProfile.writerUsername}}</p>
          <p class="mt-5 h-24">
            <!-- Bio -->{{userProfile.writerBio}}
          </p>
          <div class="flex mt-5">
            <!-- follower -->
            <p class="">{{countFollower}} follower</p>
            <!-- follow button -->
            <button (click)="followUserFunction()" class="ml-14 px-5 border-2 rounded-3xl hover:bg-slate-950 border-gray-500 bg-neutral-800">Follow</button>
          </div>
        </div>
        <div class="col-span-2 m-5 ml-0">
          <!-- avatar -->
          <img src="img/avatar/{{userProfile.writerAvatar}}"  class="rounded-full w-32 h-32" alt="" />
        </div>
      </div>
      
      <div class=" my-2">
        <div class="text-white flex justify-between">
          <label class="min-w-[50%] text-center">
            <input [(ngModel)]="selectedOption" type="radio" id="select-profile-1" name="Profile" value="view-post"
              class="hidden peer" />
            <div class=" peer-checked:border-b-2">Post</div>
          </label>

          <label class="min-w-[50%] text-center">
            <input [(ngModel)]="selectedOption" type="radio" id="select-profile-1" name="Profile" value="view-story"
              class="hidden peer" />
            <div class=" peer-checked:border-b-2">Story</div>
          </label>
        </div>
      </div>
      <div class="w-full ">
        @switch (selectedOption) {
        @case('view-post'){
            <app-view-post></app-view-post>
        }
        @case ('view-story') {
            <app-view-story></app-view-story>
        }

        }
      </div>
    </div>
  </div>